<%= render 'users_nav' %>
<main>
  <div class="user-wrapper">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
      <% @user.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
        </tr>
      <% end %>
    </table>
  </div>
</main>
