<main>
	<section id="hero" class="tint-bg img-bg-softer" style="background-image: url(<%= asset_path 'pattern-background03.png' %>);">
		<div class="container inner" id="contact">
			<div class="row">
				<div class="col-md-8">
					<header>
						<h1>Get in touch</h1>
						<p>Send me an email or call to learn more about how I can help!</p>
					</header>
				</div><!-- /.col -->
			</div><!-- ./row -->
		</div><!-- /.container -->
	</section>
	<div class="container inner">
		<div class="row">
			<div class="col-md-8 inner-right-md">
				<section id="contact-form">
					<h2>Leave a Message</h2>
					<form id="contactform" class="forms" action="contact.php" method="post">
						<div class="row">
							<div class="col-sm-6">
								<input type="text" name="name" class="form-control" placeholder="Name (Required)">
							</div><!-- /.col -->
						</div><!-- /.row -->
						<div class="row">
							<div class="col-sm-6">
								<input type="email" name="email" class="form-control" placeholder="Email (Required)">
							</div><!-- /.col -->
						</div><!-- /.row -->
						<div class="row">
							<div class="col-sm-12">
								<textarea name="message" class="form-control" placeholder="Enter your message ..."></textarea>
							</div><!-- /.col -->
						</div><!-- /.row -->
						<button type="submit" class="btn btn-default btn-submit">Submit message</button>
					</form>
					<div id="response"></div>
				</section>
				<section id="contacts" class="inner-top-md inner-bottom-sm">
					<h2>Contacts</h2>
					<p>Magnis modipsae voloratati andigen daepeditem quiate re aut labor. <br>Laceaque eictemperum quiae sitiorem rest non restibusaes.</p>
					<div class="row">
						<div class="col-sm-6">
							<h3>REEN</h3>
							<ul class="contacts">
								<li><i class="icon-location contact"></i> 84 Street, City, State 24813</li>
								<li><i class="icon-mobile contact"></i> +00 (123) 456 78 90</li>
								<li><a href="mailto:info@reen.com"><i class="icon-mail-1 contact"></i> info@reen.com</a></li>
							</ul><!-- /.contacts -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</section>
			</div><!-- ./col -->
			<div class="col-md-4">
				<section id="contact-names" class="light-bg inner-xs inner-left-xs inner-right-xs">
					<h3 class="team-headline sidelines text-center"><span>Let’s Connect!</span></h3>
					<div class="row thumbs gap-md text-center">
						<div class="col-sm-6 thumb">
							<figure class="member">
								<div class="member-image center-profile-img">
									<div class="text-overlay center-text-overlay">
										<div class="info">
											<ul class="social">
												<li><a href="https://www.linkedin.com/in/ryan-mcmahon-7834991a"><i class="icon-s-linkedin"></i></a></li>
												<li><a href="https://github.com/rymcmahon"><i class="icon-s-github"></i></a></li>
												<li><a href="https://twitter.com/ryanmcmahon716"><i class="icon-s-twitter"></i></a></li>
											</ul><!-- /.social -->
										</div><!-- /.info -->
									</div><!-- /.text-overlay -->
									<%= image_tag "profile-pic.jpg", class: "profile-picture" %>
								</div><!-- /.member-image -->
							</figure>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</section>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</main>