<section id="hero" class="dark-bg img-bg-softer" style="background-image: url(<%= asset_path 'pattern-background02.png' %>);">
  <div class="container inner">
    <div class="row">
      <div class="col-md-8 col-sm-9">
        <header>
          <h1>Services</h1>
          <p>I excel at all areas of website development—from aesthetics to database design to optimizing Google search results. </p>
        </header>
      </div><!-- /.col -->
    </div><!-- ./row -->
  </div><!-- /.container -->
</section>
<section id="services">
  <div class="container inner">
    <div class="row">
      <div class="col-xs-12">
        <div class="tabs tabs-services tabs-circle-top tab-container">
          <ul class="etabs text-center">
            <li class="tab"><a href="#tab-1"><div><i class="icon-palette"></i></div>Design</a></li>
            <li class="tab"><a href="#tab-2"><div><i class="icon-database"></i></div>Databases</a></li>
            <li class="tab"><a href="#tab-3"><div><i class="icon-newspaper"></i></div>CMS</a></li>
            <li class="tab"><a href="#tab-4"><div><i class="icon-chart-bar-1"></i></div>Dashboards</a></li>
            <li class="tab"><a href="#tab-5"><div><i class="icon-pencil-1"></i></div>Copywriting</a></li>
            <li class="tab"><a href="#tab-6"><div><i class="icon-table"></i></div>Marketing</a></li>
          </ul><!-- /.etabs -->
          <div class="panel-container">
            <div class="tab-content" id="tab-1">
              <div class="row">
                <div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
                  <figure><%= image_tag "responsive-design.jpg" %></figure>
                </div><!-- /.col -->
                <div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
                  <h3>Beautiful Design on All Devices</h3>
                  <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->
            <div class="tab-content" id="tab-2">
              <div class="row">
                <div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
                  <figure><%= image_tag "database-app.jpg" %></figure>
                </div><!-- /.col -->
                <div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
                  <h3>Database-backed Apps</h3>
                  <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->
            <div class="tab-content" id="tab-3">
              <div class="row">
                <div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
                  <figure><%= image_tag "cms.png" %></figure>
                </div><!-- /.col -->
                <div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
                  <h3>Content Management Systems</h3>
                  <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->
            <div class="tab-content" id="tab-4">
              <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-8 center-block text-center">
                  <figure><img src="assets/images/art/product03.jpg" alt=""></figure>
                </div><!-- /.col -->
              </div><!-- /.row -->
              <div class="row">
                <div class="col-sm-8 center-block text-center inner-top-xs">
                  <h3>Data Visualization</h3>
                  <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->
            <div class="tab-content" id="tab-5">
              <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-8 center-block text-center">
                  <figure><img src="assets/images/art/product03.jpg" alt=""></figure>
                </div><!-- /.col -->
              </div><!-- /.row -->
              <div class="row">
                <div class="col-sm-8 center-block text-center inner-top-xs">
                  <h3>Content Strategy Development</h3>
                  <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->
            <div class="tab-content" id="tab-6">
              <div class="row">
                <div class="col-sm-8 center-block text-center">
                  <h3>Search Engine Optimization</h3>
                  <p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
                </div><!-- /.col -->
              </div><!-- /.row -->
              <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-8 inner-top-xs center-block text-center">
                  <figure><img src="assets/images/art/humans01.jpg" alt=""></figure>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->
          </div><!-- /.panel-container -->
        </div><!-- /.tabs -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>