<section id="about">
  <div class="container inner-top inner-bottom-sm">
    <div class="row">
      <div class="col-md-8 col-sm-9 center-block text-center">
        <header>
          <h1>I’m Ryan, a web developer and business consultant.</h1>
          <p>I build software and websites that help buisnesses increase revenue,
            reduce costs, and maximize productivity.</p>
        </header>
      </div><!-- /.col -->
    </div><!-- /.row -->
    <div class="row inner-top-sm">
      <div class="col-md-1">
        <div class="icon pull-right">
          <i class="icon-tools icn"></i>
        </div><!-- /.icon -->
      </div><!-- /.col -->
      <div class="col-md-3 inner-bottom-xs">
        <h2>Built to Last</h2>
        <p class="text-small">I use Ruby on Rails, JavaScript frameworks such as Angular and Vue, and other leading
          tools to ensure the products I deliver last and scale easily.</p>
      </div><!-- /.col -->
      <div class="col-md-1">
        <div class="icon pull-right">
          <i class="icon-chart-area icn"></i>
        </div><!-- /.icon -->
      </div><!-- /.col -->
      <div class="col-md-3 inner-bottom-xs">
        <h2>ROI Centric</h2>
        <p class="text-small">To ensure a client receives a return on their investment
          in my services, I learn how the business works, identify areas where software
          can help, and develop solutions that improve the bottom line.</p>
      </div><!-- /.col -->
      <div class="col-md-1">
        <div class="icon pull-right">
          <i class="icon-cog-alt icn"></i>
        </div><!-- /.icon -->
      </div><!-- /.col -->
      <div class="col-md-3 inner-bottom-xs">
        <h2>Reliable</h2>
        <p class="text-small">I have over a decade of experience meeting strict deadlines
          with established companies and small start-ups. I consider professionalism to
          be as important as the code for every project.</p>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>