<h2 class="text-info"> Recent Projects </h2>
<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag "power-pol-blog.png" %>
      <div class="caption">
        <p><strong>Power Pol</strong> is a Rails app that ranks the U.S. Senators based on their voting independence and productivity. Data is pulled from the <em>New York Times</em> API and run through an algorithm.</p>
        <p><a href="http://www.powerpol.org/" class="btn btn-primary" role="button">Visit App</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag "to-taste-blog.png" %>
      <div class="caption">
        <p><strong>To Taste</strong> is a recipe-sharing app built with Rails. Users can sign up for an account, upload recipes, share pictures of dishes, and comment on any recipe.</p>
        <p><a href="http://www.totaste.org/" class="btn btn-primary" role="button">Visit App</a></p>
      </div>
    </div>
  </div>
</div>
