<div class="content-wrapper">
<h2>My Spiel</h2>
<p>I was a copywriter for nearly a decade but I discovered my true passion was software development. I love working with Ruby and building apps with Rails but I also enjoy the challenge of learning new languages, frameworks, and techniques. Designing an engaging, easy-to-use interface is as important to me as programming the backend logic.</p>

<h3>Technical Stack</h3>
<p><strong>Languages:</strong> Ruby, JavaScript, SQL, HTML, CSS</p>
<p><strong>Frameworks:</strong> Rails, AngularJS, Bootstrap</p>
<p><strong>Databases:</strong> MySQL, PostgreSQL, Active Record</p>
<p><strong>Other:</strong> Git, TDD, Heroku, Amazon AWS, APIs </p>

<h3>Experience</h3>
<h4>Full-Stack Developer in Training</h4>
<p>Anyone Can Learn to Code Bootcamp</p>
</div>