<div class="resume-wrapper">
	<h3>My Spiel</h3>
	<p>I was a copywriter for nearly a decade but I discovered my true passion was software development. I love working with Ruby and building apps with Rails but I also enjoy the challenge of learning new languages, frameworks, and techniques. Designing an engaging, easy-to-use interface is as important to me as programming the backend logic.</p>

	<h3>Technical Stack</h3>
	<p><strong>Languages:</strong> Ruby, JavaScript, SQL, HTML, CSS</p>
	<p><strong>Frameworks:</strong> Rails, AngularJS, Bootstrap</p>
	<p><strong>Databases:</strong> MySQL, PostgreSQL, Active Record</p>
	<p><strong>Other:</strong> Git, TDD, Heroku, Amazon AWS, APIs </p>

	<h3>Experience</h3>
	<h4>Full-Stack Developer in Training</h4>
	<p>Anyone Can Learn to Code Bootcamp</p>
	<ul>
		<li>Studied Ruby, Rails, J​avaScript, AngularJS, HTML, CSS, Git, and relational databases</li>
		<li>Learned best practices including TDD, Agile, and Service Oriented Architecture (APIs)</li>
	</ul>
	<h4>UX Designer</h4>
	<p>Hammacher Schlemmer</p>
	<ul>
		<li>Collaborated with designers to convert Photoshop documents to in­browser prototypes I built with HTML, CSS, JavaScript, and jQuery</li>
		<li>Used website analytics and visitor comments to design and develop features that enhanced user experience and improved conversion rates</li>
		<li>Designed A/B tests, tracked results with Monetate software, and used analytics to make website design recommendations</li>
	</ul>
	<h4>WordPress Developer</h4>
	<p>Freelance</p>
	<ul>
		<li>Discussed website redesign goals with client, audited their current website, and presented a plan to improve the design, performance, and functionality of the website</li>
		<li>Used WordPress, custom CSS, and MAMP to improve the design and enhance the performance of the website</li>
	</ul>
	<h4>Copywriter</h4>
	<p>Hammacher Schlemmer</p>
	<ul>
		<li>Write copy for all marketing channels including the website, catalog, press releases, packaging, and video storyboards in Hammacher’s staid, authoritative voice</li>
		<li>Work with merchants to develop copy POVs for products and write headlines and long­form copy supporting the POVs</li>
		<li>Collaborate with web designers and developers to optimize web content for headlines, long­form copy, call­outs, and emails</li>
	</ul>
</div>