<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Ryan, you have another message:</p>
    <p><strong>From:</strong> <%= @message.name %></p>
    <p><strong>Email:</strong> <%= @message.email %></p>
    <p><strong>Message:</strong> "<%= @message.text %>"</p>
  </body>
</html>