@import "bootstrap-sprockets";
/*@import "bootswatch/journal/variables";*/
@import "bootstrap";
/*@import "bootswatch/journal/bootswatch";*/
// @import "font-awesome";
@import "main";
@import "animate";
@import "green";
@import "owl.carousel";
@import "owl.transitions";
@import "fontello";

.seo-img {
  border: 1px solid #f1f1f1;
  border-radius: 2px;
}

.navbar-brand img {
  max-height: 55px;
}

.navbar-collapse.collapse.stuck .navbar-brand img {
  max-height: 45px;
}

.center-profile-img{
  width: 330px;
}

.profile-picture {
  border-radius: 50%;
  width: 50%;
}

.center-text-overlay {
  border-radius: 50%;
  width: 50%;
  margin: auto;
}

.member .text-overlay .info .social li a:hover i {
  color: #2FBBED;
}

.contact-logo {
  width: 150px;
  margin-bottom: 20px;
}

.home-link {
  font-weight: 700;
}