@import "bootstrap-sprockets";
@import "bootstrap";
@import "main";
@import "animate";
@import "green";
@import "owl.carousel";
@import "owl.transitions";
@import "fontello";

.seo-img {
  border: 1px solid #f1f1f1;
  border-radius: 2px;
}

.navbar-brand img {
  max-height: 55px;
}

.navbar-collapse.collapse.stuck .navbar-brand img {
  max-height: 45px;
}

.profile-picture {
  border-radius: 50%;
  width: 178px;
}

.center-text-overlay {
  border-radius: 50%;
  width: 178px;
  margin: auto;
}

.member .text-overlay .info .social li a:hover i {
  color: #2FBBED;
}

.contact-logo {
  width: 150px;
  margin-bottom: 20px;
}

.home-link {
  font-weight: 700;
}

.comment-form-button {
  color: #FFF !important;
  background: #1ABB9C !important;
  padding: 11px 20px 13px !important;
  margin: 15px 0 !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  letter-spacing: 0.02em !important;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  border: none;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
}

.comment-table {
  padding: 50px 60px;
}

.new-article-wrapper {
  padding: 50px 20px;
}

.login-wrapper {
  padding: 50px 20px;
}

.user-wrapper {
  padding: 50px 60px;
}

/*Targeting Firefox*/
@-moz-document url-prefix() {
  #owl-main .caption h1.dark-bg span, #owl-main .caption p.dark-bg span {
    box-decoration-break: clone;
  }
}